[submodule "CVA6-fork"]
	path = CVA6-fork
	url = https://github.com/10x-Engineers/CVA6-fork.git
[submodule "ibex-demo-system"]
	path = ibex-demo-system
	url = https://github.com/10x-Engineers/ibex-demo-system
[submodule "riscv-dbg"]
	path = riscv-dbg
	url = https://github.com/10x-Engineers/riscv-dbg.git
